extends layout.pug
block content
	h1=message
	h3 #{total} results found
	table
		tr
			th Name
			th hourly_rate
			th title
		each v, k in data
			tr
				td #{v.name}
				td #{v.hourly_rate}
				td #{v.title}